<!DOCTYPE html>
<html>
<head>
    <title>Hand Sign Detector</title>
    <style>
        hi{color:white;}
        fieldset{color:white; text-align: center}
    </style>
</head>
    <body bgcolor="black">
        <left>
            <fieldset>
               <legend><hi> Hand Sign Detection</hi></legend>
                <!--<p align=right><img src="Sign language Alphabets/1-1.jpg" height=50% width=30%>-->
                <img id = "bg" src="{{ url_for('video_feed') }}"
                width="50%" />
            </fieldset>
        </left>
    </body>
</html>